.about-h2 {
    margin: 1em;
}

.about-image img {
    display: none;
}

.long-text {
    padding: 0 2em;
}

@media screen and (min-width: 767px) {
           
    .description {  
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        display: flex;
        flex-wrap: nowrap; 
        background-color: #eaeaea;    
    }

    .about-image img {
        display: initial;
        width: 100%;
    }

    .about-image {
        flex-basis: 50%;
    }

    .about-text {
        flex-basis: 50%;
        align-self: center;    
    }
}

@media screen and (min-width: 1200px) {
    .long-text {
        padding: 0 4em;
    }
    .about-h2 {
        margin: 2em;
    }
}
