#navBar  {
    color: #449c9e;  
    text-decoration: none;
    font-family: "Lato", sans-serif;
    height: 30px;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    justify-content: flex-end; 
    align-items: baseline;   
    padding-bottom: 2em;    
}

.active {
    text-decoration: underline;
}

.small-nav div {
    padding: 1em 0 1em 2em;
}

.topnav {      
    transition: 0.7s;
    display: flex; 
    justify-content: space-between;
}

.small-nav {   
    margin-right: 1em;
    text-align: right;
}


@media screen and (min-width: 767px) {
    /* hides burger menu on larger screens*/
    #navBar {
        display: flex;
        justify-content: space-between;
    }
    .hamburger {
        display: none;
    }
    .small-nav {
        display: flex;
    }
}

